.news-layout {
  padding-top: 70px;
  margin-bottom: 70px;
}
.news-layout p {
  margin-bottom: 0 !important;
}
.news-layout img {
  height: 175px;
}
.news-layout .content {
  padding: 30px 0px;
}
.news-layout .content a {
  text-decoration: none;
}
.news-layout .content .card {
  transition: 0.5s;
  margin-bottom: 20px;
}
.news-layout .content .card .top {
  height: 175px;
}
.news-layout .content .card .bottom {
  border-left: 1px solid #f1f2f6;
  border-right: 1px solid #f1f2f6;
  border-bottom: 1px solid #f1f2f6;
}
.news-layout .content .card .bottom p {
  padding: 10px 10px;
  color: #57606f;
}
.news-layout .content .card .bottom p:nth-child(1) {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news-layout .content .card .bottom p:nth-child(2) {
  color: #a4b0be;
}
.news-layout .content .card:hover {
  box-shadow: 0px 5px 10px #a4b0be;
}
